*{
    font-family: Permanent Marker;
    padding: 0;
    margin: 0;
    color: rgb(225, 225, 225);
}
body{
    box-sizing: border-box;
    background-color: #202020;
    box-shadow: inset 0 0 5vw black;
}
h2{
    text-align: start;
    margin-top: 0.5vw;
    margin-left: 0.25vw;
    font-weight: 500;
    font-size: 2vw;
}