
@media screen and (max-width: 1600px){
    .DisplayDiv{
        grid-template-columns: 1fr 1fr;
        row-gap: 5vw;
        column-gap: 5vw;
        padding: 0 4.5vw 0 4.5vw;
        margin-top: 2vw;
    }
}
